html {
  margin: 0;
  padding: 0;
  min-width: 300px;
  overflow: hidden;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: #121212;
  color: #D5D7D8;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

p, button {
  font-size: 3em;
}

button {
  background: none;
  border: 2px solid white;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-height: calc(100vh - 3.25rem);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  flex: 0 0;
}

a, a:link, a:visited, a:active, a:hover {
  color: white;
  text-decoration: none;
}